.App {
  text-align: center;
  margin: 0px;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.cal-input {
  background-color: rgba(212, 117, 212, 0.452);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 20px;
  padding-top: 0px;
  border: none;
  border-radius: 1px;
  margin-bottom: 10px;
  text-align: right;
}

.cal-result {
  background-color: rgba(212, 117, 212, 0.452);
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 20px;
  padding-bottom: 0px;
  border: none;
  border-radius: 1px;
  text-align: right;
}

.buttons_holder {
  width: 400px;
  min-height: 500px;
  margin-top: 10%;
  display: inline-block;
  background-color: rgb(140, 80, 196);
  color: white;

}

.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.buttons button {
  border: 1px solid  rgb(142, 111, 172);
  background-color: white;
  padding: 20px 10px;
  border-radius: 1px;
  cursor: pointer;
  transition: 600ms;
  background-color: rgb(140, 80, 196);
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.buttons button:hover {
  background-color: rgb(126, 57, 190);
  color: white;
}